@import "http://fonts.googleapis.com/css?family=Roboto";

body, .tooltip{
	font-family: "Roboto",sans-serif;
}
body {
	background-color: #ccc;
}
.right{
	float: right;
}
#madeBy{
	font-size: 80%;
	color: #444;
}
.tooltip h1{
	padding-top: 0px;
	margin-top: 0px;
}