/**
 * Import base style
 */
@import "../mall/base.less";
 
/**
 * Here comes specific style for a certain test program.
 */
.box{
	float:left;
	width: 33%;
}



 //Old stuff (remove?)
.zebra{
	background-color: #ccc;
	color: #222;
}
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	li{
		display: inline;
	}
	a{
		text-decoration: none;
		color: #000;
		margin: 10px;
		padding: 10px;
	}
	a:hover{

	}
}